@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
    font-weight: bolder;
}
.info{
    margin-top: 53px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.dwn{
    margin-top: 52px;
    margin-bottom: 49px;
}

